WebApplication1/.vs/WebApplication1/FileContentIndex/c06a77ed-1943-4048-ba21-87074a2cbdab.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/read.lock
WebApplication1/.vs/WebApplication1/FileContentIndex/a3a47c6a-f232-448a-9a47-53441750863f.vsidx
WebApplication1/.vs/WebApplication1/FileContentIndex/0f7bd442-e728-4dcd-befb-9bc884b637ed.vsidx
